# Assignment: Exploring Data

Hi,

The marketing team would like to share out the five happiest countries of the 2010s on social media.
I’ve attached a notebook that another data scientist started with happiness data inside. I would recommend:
* Creating a list of each country’s highest happiness score, and then sorting it from happiest to least happy country
* Creating a list of each country’s average happiness score, and then sorting it from happiest to least happy country

Are there any differences between the two lists?

Thanks!\
Anna

## Read in the data

In [5]:
# import the data 

import pandas as pd

df = pd.read_csv('../Data/happiness_survey_data.csv')
df.head()

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
0,Afghanistan,2008,3.723590,0.450662,0.718114,50.500000
1,Afghanistan,2009,4.401778,0.552308,0.678896,50.799999
2,Afghanistan,2010,4.758381,0.539075,0.600127,51.099998
3,Afghanistan,2011,3.831719,0.521104,0.495901,51.400002
4,Afghanistan,2012,3.782938,0.520637,0.530935,51.700001

In [3]:
# there are 2089 rows and 6 columns of data
df.shape

(2089, 6)

In [ ]:
# the years range from 2005 - 2021
# happiness scores range from 2 - 8
df.describe()

## Explore the data

In [ ]:
# Filter out any data before 2010 and after 2019
mask = (df.year >= 2010) & (df.year < 2020)
filtered_df = df[mask]
filtered_df.head()

In [ ]:
# Group the data by country and calculate the maximum happiness score for each one
filtered_df.groupby("country_name")['happiness_score'].max()

In [ ]:
# Sort the grouped countries by happiness score and return the top five
# Group the data by country and calculate the maximum happiness score for each one
filtered_df.groupby("country_name")['happiness_score'].max().sort_values(ascending=False).head(5)

In [ ]:
# Group the data by country and calculate the average happiness score for each one
filtered_df.groupby("country_name")['happiness_score'].mean()

In [ ]:
# Sort the grouped countries by happiness score and return the top five
filtered_df.groupby("country_name")['happiness_score'].mean().sort_values(ascending=False).head(5)

In [ ]:
# Compare the two lists

In [ ]:
# max happiness scores
Finland        7.858107
Denmark        7.788232
Switzerland    7.776209
Norway         7.678277
Canada         7.650346

In [ ]:
# average happiness scores
Denmark        7.618252
Switzerland    7.568010
Finland        7.553138
Norway         7.541094
Iceland        7.518146

In [ ]:
filtered_df[filtered_df.country_name.isin(['Finland','Denmark','Switzerland'])]