# Assignment: Read a File into Python

Hi there,

I hear you’re the new junior data scientist on the team. Welcome!

Our polling partners just finished collecting survey data on the happiness levels in each country. I’ve attached the file.

Can you load the data into Python and confirm the number of rows in the data and the range of the happiness scores? Then we can walk through next steps together.

Thanks!\
Anna

*Attachment: happiness_survey_data.csv*

### 1. Read in data from a csv file

In [2]:
import pandas as pd

In [3]:
pd.read_csv("../Data/happiness_survey_data.csv")

,country_name,year,happiness_score,social_support,freedom_to_make_life_choices,healthy_life_expectancy_at_birth
0,Afghanistan,2008,3.723590,0.450662,0.718114,50.500000
1,Afghanistan,2009,4.401778,0.552308,0.678896,50.799999
2,Afghanistan,2010,4.758381,0.539075,0.600127,51.099998
3,Afghanistan,2011,3.831719,0.521104,0.495901,51.400002
4,Afghanistan,2012,3.782938,0.520637,0.530935,51.700001

### 2. Store data in a DataFrame

In [4]:
happiness_df = pd.read_csv("../Data/happiness_survey_data.csv")

### 3. Quickly explore the data in the DataFrame

In [5]:
happiness_df.shape

(2089, 6)

There are total 2089 rows and 6 columns in the dataframes.

In [7]:
happiness_df['happiness_score'].min() ## This will give the minimum happiness scores

np.float64(2.178809404)

In [13]:
happiness_df['happiness_score'].max()  ## This will give the maximum happiness scores

np.float64(8.01893425)

In [14]:
print(f"The range of Happiness Scores is {happiness_df['happiness_score'].max() - happiness_df['happiness_score'].min()}")

The range of Happiness Scores is 5.840124845999999